.DefaultTheme .virtualkeyboard_KeyboardKey_2KhPX {
	margin: 1px;
	border-radius: 10px;
}

.DefaultTheme .virtualkeyboard_KeyboardKey_2KhPX::before {
	content: "";
	position: absolute;
	top: 2px;
	left: 4px;
	bottom: 5px;
	right: 4px;
	border-radius: 8px;
}

.DefaultTheme .virtualkeyboard_KeyboardKey_2KhPX span {
	position: relative;
	z-index: 1;
	margin-bottom: 5px;
}