.DefaultTheme {
	--key-pointer-background-color: #a7af76 !important;
}

.DefaultTheme .virtualkeyboard_KeyboardKey_2KhPX.virtualkeyboard_Focused_21EoN {
	background: linear-gradient(180deg, #a7af76, #86884e);
}

.DefaultTheme .virtualkeyboard_KeyboardKey_2KhPX.virtualkeyboard_Focused_21EoN::before {
	background: linear-gradient(85deg, #a8af76, #969956);
}